/* Header */
header {
    background-color: #404eed;
}

header h1 {
    color: white;
}

/* Main */
.bg-secondary {
    background-color: #f6f6f6 !important;
}

h1 {
    color: #23272a;
}

.btn-primary {
    background-color: #404eed;
}